/*GENERAL*/
.ProjectPage {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    //border: none;
    //padding-top: 7vh;
    //overflow: hidden;
    display: flex;

    iframe {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        height: 100vh;
    }

    button {
        background-color: rgb(2, 93, 150);
        border: none;
        border-radius: 5px;
        position: fixed;
        width: 5vw;
        height: 5vh;
        left: 1vw;
        top: 1vw;
        cursor: pointer;

        img {
            height: 70%;
            aspect-ratio: 1/1;
            transform: rotate(180deg);
        }
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .ProjectPage {
        button {
            width: 15vw;
            height: 5vh;
        }
    }
}

/*MOBILE*/
@media (max-width: 768px) {
    .ProjectPage {
        button {
            width: 15vw;
            height: 5vh;
        }
    }
}