body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  //font-family: "Noto Naskh Arabic", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}

/* Styles pour la piste (track) de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: black; /* Couleur de fond de la piste */
}

/* Styles pour le pouce (thumb) de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Couleur du pouce */
  border-radius: 10px; /* Bordure arrondie du pouce */
}

/* Styles pour la barre de défilement elle-même (non le contenu défilant) */
::-webkit-scrollbar {
  width: 3px; /* Largeur de la barre de défilement */
}