.LoadingView {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color1);
    //display: none;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms;

    &.IsLoading {
        opacity: 1;
    }
}